.App {
  font-family: sans-serif;
  text-align: center;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-radius: 20px;
  border-image-source: linear-gradient(to bottom, #00ff00, #7000ff91);
}
